<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Transport</th>
    <th>Status</th>
    <th>actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let guest of guests; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ guest.name }}</td>
    <td>
      <div class="toggle-cell"
           [ngClass]="getTransportationClass(guest.transportation)"
           (click)="toggleTransportation(guest)">
        {{ guest.transportation ? 'Needed' : 'Not needed' }}
      </div>
    </td>
    <td>
      <div class="toggle-cell"
           [ngClass]="getStatusClass(guest.status)"
           (click)="toggleStatus(guest)">
        {{ getStatusLabel(guest.status) }}
      </div>
    </td>
    <td>
      <div class="actions">
        <button mat-raised-button (click)="confirmDelete(guest.id)">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<!-- Confirm dialog -->
<app-confirmation-dialog
  *ngIf="showConfirmDialog"
  [message]="'Are you sure you want to delete this guest?'"
  (confirmed)="performDelete()"
  (cancelled)="cancelDelete()">
</app-confirmation-dialog>


<!-- MESSAGE MODAL -->
<app-message-modal
  *ngIf="message"
  [message]="message"
  (closed)="closeMessage()">
</app-message-modal>
