<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Transport</th>
    <th>Status</th>
    <th>Comments</th>
    <th>actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let guest of guests; let i = index">
    <td>{{ i + 1 }}</td>
    <td (click)="startEditName(guest)" >
      <ng-container *ngIf="editedGuest !== guest; else editNameTemplate">
        {{ guest.name }}
      </ng-container>
      <ng-template #editNameTemplate>
        <div
          class="editable-name"
          contenteditable="true"
          (blur)="saveNameEditFromContent($event, guest)"
          (keydown.enter)="saveNameEditFromContent($event, guest)"
          (keydown.escape)="cancelNameEdit()"
          [textContent]="editedName"
          #nameInput>
        </div>
      </ng-template>
    </td>
    <td>
      <div class="toggle-cell"
           [ngClass]="getTransportationClass(guest.transportation)"
           (click)="toggleTransportation(guest)">
        {{ guest.transportation ? 'Needed' : 'Not needed' }}
      </div>
    </td>
    <td>
      <div class="toggle-cell"
           [ngClass]="getStatusClass(guest.status)"
           (click)="toggleStatus(guest)">
        {{ getStatusLabel(guest.status) }}
      </div>
    </td>
    <td>{{guest.comment}}</td>
    <td>
      <div class="actions">
        <button mat-raised-button (click)="confirmDelete(guest.id)">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<!-- Confirm dialog -->
<app-confirmation-dialog
  *ngIf="showConfirmDialog"
  [message]="'Are you sure you want to delete guest?'"
  (confirmed)="performDelete()"
  (cancelled)="cancelDelete()">
</app-confirmation-dialog>


<!-- MESSAGE MODAL -->
<app-message-modal
  *ngIf="message"
  [message]="message"
  (closed)="closeMessage()">
</app-message-modal>
